@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-gradient {
  background: linear-gradient(
    to right,
    #D4AC54 0%,
    #D4AC54 33.33%,
    #FFDEAC 33.33%,
    #FFDEAC 66.66%,
    #E3BA5D 66.66%,
    #E3BA5D 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
.bg-gradient-custom {
  background: linear-gradient(
    to right,
    #D0A549 0%,
    #D0A549 25%,
    #E3BA5D 25%,
    #E3BA5D 50%,
    #C8A443 50%,
    #C8A443 75%,
    #000000 75%,
    #000000 100%
  );
} 
/* .bg_image_2 {
  background-image: url('/images/image.png');
  background-size: cover;
  background-repeat: no-repeat;
} */